ul {
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.backDARK {
    background-color: white;
}

ul>li {
    list-style: none;
}

.paginationbar,
.paginationbar>ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paginationbar>ul>li {
    color: grey;
}

.active {
    font-weight: bold;
}

.cursorPoint {
    cursor: pointer;
}